
<div th:fragment="listproducts">
	<table id="table-view"
		class="display table table-striped table-bordered" cellspacing="0"
		width="100%">
		<thead>
			<tr>
				<th data-sort="entity_name" class="sorting">Entity Name</th>
				<th data-sort="issue_date" data-sort-type="asc" class="sorting">Issue
					date</th>
				<th data-sort="maturity_date" class="sorting">Maturity date</th>
				<th data-sort="issue_currency" class="sorting">Currency</th>
				<th data-sort="amount_issued" class="sorting">Amount issued</th>
				<th data-sort="coupon_type" class="sorting">Coupon type</th>
				<th data-sort="issuance_coupon" class="sorting">Coupon</th>
				<th data-sort="doc_type" class="sorting">Type</th>
				<th data-sort="pages" class="sorting">Pages</th>
				<th>Document</th>
			</tr>

		</thead>
		</table>
</div>
