
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
	<title>BondPDF</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Le styles -->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/mazira-timeline/css/styles.css?0.1.2">
	<link rel="stylesheet" type="text/css" href="/css/style.css?0.1.8">
	<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css">

	<script src="/vendor/jquery-1.7.2.min.js"></script>
	<script src="/js/myapp.js"></script>

	<script type="text/javascript">
		// console polyfill
		window.console = window.console || {};
		window.console.log = window.console.log || function(){};

		// Object.create polyfill
		if (!Object.create) {
			Object.create = function (o) {
				if (arguments.length > 1) {
					throw new Error('Object.create implementation only accepts the first parameter.');
				}
				function F() {}
				F.prototype = o;
				return new F();
			};
		}
	</script>

	<script src="/vendor/jquery.tmpl.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

	<script src="/vendor/nouislider/jquery.nouislider.js"></script>
	<script src="/vendor/jquery.ba-hashchange.js"></script>

	<script src="/mazira-timeline/js/timeline.js?0.1.1"></script>

	<script src="https://checkout.stripe.com/checkout.js"></script>
	<script src="/js/bond-renderer.js?0.1.4"></script>

	<script src="/js/search.js?0.4.2"></script>
	<script type="text/javascript" language="javascript" src="/js/jquery.dataTables.min.js"></script>
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-35600838-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
    <script> var costCode = false</script>
	<script> var stripeChargeAmount = 2000</script>
</head>
<body>
<div th:replace="fragments/navbar::navbar"></div>
<div id="timeline" style="display:none"></div>
<div id="tablespace">
	<div th:replace="fragments/listdata::listproducts">
	</div>
</div>
<div th:replace="fragments/advancedsearch::search"></div>
<hr/>
<footer>
	<p>&copy; Centris Mobility & Project Services 2018</p>
</footer>

<div id="alert" class="alert alert-block fade in">
	<button type="button" class="close">×</button>
	<h2 class="alert-heading"></h2>
	<p></p>
</div>

<div id="docRequest" class="modal fade hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Request Document</h3>
	</div>
	<div class="modal-body">
		<p>This document is not currently available for viewing, but you may request it explicitly.</p>
		<p>Once you submit this document request, our support staff will attempt to locate the requested document and add it to the system.</p>
		<p>You will be notified by email when the document is available for your viewing.</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<button class="btn btn-primary" data-loading-text="sending..." data-complete-text="finished!">Send request</button>
	</div>
</div>

<div id="infoRequest" class="modal fade hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Information Request</h3>
	</div>
	<div class="modal-body">
		<label>What information would you like on this bond?
			<textarea class="input-xlarge" rows="3"></textarea>
		</label>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<button class="btn btn-primary" data-loading-text="sending..." data-complete-text="finished!">Send request</button>
	</div>
</div>

<div id="ccodeRequest" class="modal fade hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" onclick="$('#ccodeRequest').modal('hide');">×</button>
		<h3>Cost Code Request</h3>
	</div>
	<div class="modal-body">
		<label>Please enter your cost code:
			<textarea class="input-xlarge" rows="1"></textarea>
		</label>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn" data-dismiss="modal" onclick="$('#ccodeRequest').modal('hide');">Close</button>
		<button type="button" class="btn btn-primary">Download</a>
	</div>
</div>


<div id="feedback" class="modal fade hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Site Support</h3>
	</div>
	<div class="modal-body">
		<p>Do you have questions or comments? Unable to find what you are looking for? Send a message to our support team.</p>
		<label>Subject
			<br />
			<input type="text" class="subject"/>
		</label>
		<label>Message
			<textarea class="input-xlarge" rows="3"></textarea>
		</label>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<button class="btn btn-primary" data-loading-text="sending..." data-complete-text="finished!">Send request</button>
	</div>
</div>

<div id="quickSearch" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Quick Search</h3>
	</div>
	<div class="modal-body">
		<p>Begin a new search by entering a search term below</p>
		<form class="form-inline search-form" name="searchform" >
			<button class="btn btn-large btn-inverse" type="button" onclick="search()">
				<span>
					<i>GO</i>
				</span>
			</button>
			<label class="visuallyhidden" for="quickSearchInput">Search:</label>
			<input type="text" id="entityname" name="entityname" class="search-query" placeholder="Quick Search Entire Database (ISIN or text)" autocomplete="off" spellcheck="false">
		</form>
		<a href="#" class="recent"><!--Click here to view recent bonds--></a>
	</div>
</div>

<!-- <script src="/vendor/datepicker/bootstrap-datepicker.js"></script>
<script type="text/javascript">
quickSearchFacade
$(document).ready(function() { 
	  $("#quickSearchFacade").click(function(){
		    $("#quickSearch").show();
	  });
	});
function search () {
alert("click");
var entityname =$("#entityname").val();
alert("clickdsfsdf"+entityname);
 /*  $http({	  
     url : './rest/getbyname',
     method : "GET",
     dataType : "json",
     contentType: "application/x-www-form-urlencoded; charset=UTF-8",
     data : {           
         'entityname' :entityname
     }

 }).then(function (response) {
alert("id  "+response.data.id);

})  */
$.ajax({
	  url: "/rest/getbyname",
	  type: "GET", //send it through get method
	  data : {           
	         'entityname' :entityname
	     },
	  success: function(response) {
	    //Do Something
	    alert("response=="+response);
	    
	    $('#quickSearch').hide();
	  },
	  error: function(xhr) {
	    //Do Something to handle error
		  alert("response xhr=="+xhr);
	  }
	});
 
 
}
</script> -->
</body>
</html>