
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
	<title>Sign in to BondPDF</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	<style>
		body {
			padding-top: 60px;
		}
		.marketing {
			text-align: center;
		}
		#types li {
			font-size: 12px;
			line-height: 14px;
		}
		#types ul {
			margin-left: 20px;
		}
		#glossary ul {
			margin: 0;
		}
		#glossary ul li {
			text-align: justify;
		}
		#glossary ul li h5 {
			margin-top: 0;
		}
		.footer {
			padding: 40px 0;
			margin-top: 70px;
			border-top: 1px solid #E5E5E5;
			background-color: whiteSmoke;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css" />
	<style>
		.navbar .nav > li > a.icon {
			padding: 0;
			padding-top: 4px;
		}
		.hero-unit {
			padding: 40px;
		}
		form, .form-actions {
			padding-bottom: 0;
			margin-bottom: 0;
		}
		.form-horizontal .control-label {
			width: 100px;
		}
		.form-horizontal .controls {
			margin-left: 120px;
		}
		.form-horizontal .form-actions {
			padding-left: 120px;
		}
	</style>

	<!--[if lt IE 8]>
	<style>
		.row-fluid .marketing { width: 60%; }
	</style>
	<![endif]-->

	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<![endif]-->

	<script src="/vendor/jquery-1.7.2.min.js"  ></script>
	<script src="/vendor/jquery.validate.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/vendor/jquery.cycle.all.js"></script>
	<!-- <script src="/js/login.js?0.0.5"></script> -->
	<script src="/vendor/bootstrap/js/login.js"></script>
<!-- 	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-35600838-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script> -->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">BondPDF</a>
			<ul class="nav">
				<li>
					<a title="Best viewed in Google Chrome" href="https://www.google.com/intl/en/chrome/browser/" target="_blank" style="padding-right:4px;">Best viewed in</a>
				</li>
				<li>
					<a class="icon" title="Best viewed in Google Chrome" href="https://www.google.com/intl/en/chrome/browser/" target="_blank"><img th:src="@{/img/chrome.png}"></a>
				</li>
				<li>
					<a class="icon" title="Best viewed in Firefox" href="http://www.mozilla.org/en-US/firefox/new/" target="_blank"><img src="/img/firefox.png" /></a>
				</li>
			</ul>
			<ul class="nav pull-right">
			    <li>
			      <a href="#"><i class="icon-bell icon-white"></i><strong>Phone:</strong></a>
			    </li>
			    <li>
			      <a href="tel://44-203-371-1100" style="padding-left:0px">+44 203 371 1100</a>
			    </li>			    
			    <li>
			        <a href="mailto:support@factentry.com?Subject=BondPDF Question"><i class="icon-envelope icon-white"></i><strong>Email:</strong> support@factentry.com</a>
			    </li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="hero-unit">
		<div class="row-fluid">
			<img class="pull-left" src="/img/team.png"   th:src="@{/img/team.png}" />
			<h1>Welcome to BondPDF!</h1>
			<p>Quickly search and filter through hundreds of thousands of bond <abbr title="Portable Document Format" class="initialim">PDF</abbr> files.</p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="well span4">
		
			<form class="form-horizontal" id="sign_in" method="post" action="/sessions">
				<legend>Sign in to BondPDF</legend>
				
				<div class="control-group">
					<label class="control-label" for="email">Email</label>

					<div class="controls">
						<div class="row-fluid">
							<input type="text" id="email" name="username" style="width:95%;"/>
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="password">Password</label>
					<div class="controls">
						<div class="row-fluid">
							<input type="password" id="password" name="password" style="width:95%;"/>
						</div>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<label class="checkbox"><input type="checkbox" id="remember" name="remember"/>Remember me</label>
					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Sign in</button><br />
					<a href="/users/sign_up/">Request an account</a><br />
					<a href="#" id="btnReset">Forgot password?</a>
				</div>
			</form>
		</div><!--well span4-->
		<div class="marketing span8">

			<div class="row-fluid">
				<div class="span5 offset1">
					<a href="http://factentry.com"><img src="/img/factentry.png" th:href="@{/img/factentry.png}" alt="FactEntry" title="FactEntry website"/></a>
					<h2>Data Unleashed</h2>
					<p>All of the financial documents and data provided on BondPDF are made available by <a href="http://www.factentry.com">FactEntry</a>.</p>
				</div>
				<div class="span5 offset1">
					<a href="http://mazira.com"><img src="/img/mazira.png"  th:href="@{/img/mazira.png}" alt="Mazira LLC" title="Mazira Website"/></a>
					<h2>Made for Search</h2>
					<p>The sophisticated timeline interface, along with the powerful indexing and filtering tools, are provided by <a href="http://mazira.com">Mazira, LLC</a>, a leader in distributed document management.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="well span12" >
			<div id="types" class="span8">
				<legend>Contained Bond Types</legend>
				<div class="row-fluid">
					<div class="span6">
						<ul>
							<li>Agency bonds</li>
							<li>Bonds with Warrants</li>
							<li>Certificates</li>
							<li>Cedulas Hipotecarias and Territoriales</li>
							<li>Collateralised Debt Obligations (CDO)</li>
							<li>Commercial Mortgage Backed Securities (CMBS)</li>
							<li>Convertible Bonds</li>
							<li>Covered Bonds</li>							
							<li>Credit Linked Notes (CLN)</li>
							<li>Debentures</li>
							<li>Domestic Bonds</li>
							<li>Emerging Market Bonds</li>
							<li>Eurobonds</li>
							<li>Floating Rate Bonds</li>
							<li>Guaranteed Bonds</li>
							<li>Green Bonds</li>
							<li>Treasury STRIPS</li>
						</ul>
					</div>
					<div class="span6">
						<ul>
							<li>High-Yield Bonds</li>
							<li>Hybrid Notes</li>
							<li>Investment grade corporate bonds</li>
							<li>Medium Term Notes</li>
							<li>Mortgage Bonds</li>
							<li>Obbligazioni Bancarie Garantite</li>
							<li>Obligation Foncieres</li>
							<li>Other Asset Backed Securities (auto loans, credit cards...)</li>
							<li>Pfandbrief</li>
							<li>Public Sector bonds</li>
							<li>Residential Mortgage Backed Securities (RMBS)</li>
							<li>Secured Loan Stock </li>
							<li>Sukuk</li>
							<li>Subordinated bonds</li>
							<li>Contingent Convertible Bonds</li>
							<li>Loan Participation Notes</li>							
						</ul>
					</div>
				</div>
			</div><!--types-->
			<div id="glossary" class="span4">
				<legend>Glossary Terms <small><a href="/user/glossary" target="_blank">View all</a></small></legend>
				<ul>
					<li>
						<h5>Accelerated Amortization Event</h5>
						<p>It is Provision in a loan or mortgage agreement that allows a borrower to increase the monthly installment amount to pay off the obligation before its specified settlement date.</p>
					</li>
					<li>
						<h5>Acceleration</h5>
						<p>A contract stating that the unpaid balance becomes due and payable if specific actions  transpire, such as failure to make interests payments on time. Allowing a creditor to call the debt if certain events occur. A provision in a bond indenture that in the event of default allows the trustee or the holders of  25% of the principal amount of the outstanding issue to declare all of the principal and interest immediately.</p>
					</li>
					<li>
						<h5>ACSM - Alternative Coupon Satisfaction Mechanism</h5>
						<p>The concept of cancellation of regular coupons and giving an alternative coupon to replace with an alternative payment. As to avoid Default.</p>
					</li>
					<li>
						<h5>Adjustable Rate Mortgage</h5>
						<p>Adjustable Rate Mortgage is a mortgage loan where the interest rate on the note is periodically adjusted based on various indices. Some of the indices are Treasury (CMT) securities, Cost of Funds Index (COFI), European Interbank Offered Rate (EURIBOR), and the London Interbank Offered Rate (LIBOR).</p>
					</li>
					<li>
						<h5>Amortizing Payment</h5>
						<p>Bond issuer starts paying principal along with coupon payments.</p>
					</li>
					<li>
						<h5>Asian Change in Law</h5>
						<p>Asian Change in Law means that, on or after the Issue Date of any series of Notes due to the adoption of or any change in any applicable law or regulation (including, without limitation, any tax law), or due to the promulgation of or any change in the interpretation by any court, tribunal or regulatory authority with competent jurisdiction of any applicable law or regulation, the Issuer determines in its sole discretion that it has become illegal for the Issuer and/or any of its Affiliates to hold, acquire or dispose of Hedge Positions relating to the Notes or the Issuer or any of its Affiliates will incur a materially increased cost in relation to the performance of the Issuer's obligations under the Notes.</p>
					</li>
					<li>
						<h5>Asian Hedging Disruption</h5>
						<p>A Hedging Disruption Event shall occur if the Issuer determines that it is or has become not reasonably practicable or it has otherwise become undesirable, for any reason, for the Issuer wholly or partially to establish, re-establish, substitute or maintain a relevant hedging transaction it deems necessary or desirable to hedge the Issuer's obligations in respect of the Securities.</p>
					</li>
					<li>
						<h5>Asian Increased Cost of Hedging</h5>
						<p>Asian Increased Cost of Hedging means that the Issuer and/or any of its Affiliates would incur a materially increased (as compared with circumstances existing on the Issue Date) amount of tax, duty, expense or fee to (A) acquire, establish, re-establish, substitute, maintain, unwind or dispose of any transaction(s) or asset(s) it deems necessary to hedge the equity price risk of entering into and performing its obligations with respect to the Notes, or (B) realize , recover or remit the proceeds of Hedge Positions or the Notes between accounts within the Affected Jurisdiction or from accounts within the Affected Jurisdiction to accounts outside the Affected Jurisdiction.</p>
					</li>
					<li>
						<h5>Asset Exchange</h5>
						<p>Asset Exchange is a kind of bilateral agreement under which entities agree to swap assets amongst them.</p>
					</li>
					<li>
						<h5>Asset-Backed Securities</h5>
						<p>Securities collateralized by assets such as car loans and credit card receivables, which can be seized if the debtor defaults. ABS is created by the process of securitization whereby banks pool types of loans and use them as collateral or security against a bond issue.</p>
					</li>
					<li>
						<h5>Auction Call Redemption</h5>
						<p>The trustee, at the expense of the Issuer and with the assistance of the Collateral Manager, acting on behalf of the Issuer, will conduct an auction of the Collateral The Trustee will deposit the purchase price for the Collateral Securities in the Collection Account, and the notes will be redeemed and, to the extent funds are available immediately following the relevant Auction Date.</p>
					</li>
					<li>
						<h5>Auto Early Redemption Event</h5>
						<p>The AUTO-CALLABLE are Notes distributing a high periodic coupon if at the end of each predefined period all the underlings are higher than a Coupon Trigger Level, no coupon is paid otherwise.</p>
					</li>
					<li>
						<h5>Balloon Maturity</h5>
						<p>A repayment schedule for an issued bond where a large number of the bonds mature at the same time. When balloon maturity occurs, a company must pay the principal back to borrowers on many bonds at once.</p>
					</li>
					<li>
						<h5>Basis Points (BPS)</h5>
						<p>A basis point is one hundredth of a percentage point (0.01%). For e.g. 75bps = 0.75%</p>
					</li>
					<li>
						<h5>Bond Convert</h5>
						<p>Bond issuer converts the issued convertible bonds to Shares. </p>
					</li>
					<li>
						<h5>Bond Exchange</h5>
						<p>An exchange offer that allows the bond holders to exchange their existing bonds for another class of debt or equity securities.</p>
					</li>
					<li>
						<h5>Broken Amount</h5>
						<p>It is the amount which is calculated as a short coupon for the first interest payment after the issue date. E.g., the bond is issued on 21/01/2003 maturing at 30/06/2008 with 6.5% interest rate paying on 01/July each year. Then the first interest payment date would fall on 30/06/2003. The interest is calculated for the first 161 days i.e. the days between first interest accrual day and first interest payment day is called as Broken Amount. </p>
					</li>
					<li>
						<h5>Bunny Bond</h5>
						<p>A type of bond that offers investors the option to reinvest coupon payments into additional bonds with the same coupon and maturity. </p>
					</li>
					<li>
						<h5>Callable Bond</h5>
						<p>A bond that can be redeemed by the issuer prior to its maturity. Usually a premium is paid to the bond owner when the bond is called. It is also known as a ""redeemable bond"". </p>
					</li>
					<li>
						<h5>Catastrophe bond</h5>
						<p>Catastrophe bonds are also known as CAT bonds, usually its a High yield debt instrument issued linking insurance. Mainly such bonds are issued flood-prone zone.</p>
					</li>
					<li>
						<h5>CDO</h5>
						<p>Collateralized Debt Obligation - An asset-back security which uses a portfolio of bonds or loans as collateral, or security. </p>
					</li>
					<li>
						<h5>Certain Sales of Assets</h5>
						<p>Business balance sheets usually have several fixed assets. A fixed asset is anything that is not used up in the production of the good or service concerned - land, buildings, fixtures and fittings, machinery, vehicles and so on. At times, one or more of these fixed assets may be surplus to requirements and can be sold. A business may desperately need to find some cash so it decides to stop offering certain products or services and because of that can sell some of its fixed assets. Hence, by selling fixed assets, business can use them as a source of finance.</p>
					</li>
					<li>
						<h5>Change in Law</h5>
						<p>The change in law is one of the trigger event which occurs in the court law(which govern the securities).</p>
					</li>
					<li>
						<h5>Change of Control Trigger</h5>
						<p>A provision which gives a party to an agreement protection if the controlling shareholding of the other party is transferred. In commercial contracts a change of control clause will often give the party who is not interest in a change in ownership the right to terminate the agreement in the event of a change of control of the other party.</p>
					</li>
					<li>
						<h5>Chapter 11</h5>
						<p>The chapter 11 of the United States Bankruptcy Code generally for reorganization, usually involving a corporation. A chapter 11 debtor usually proposes a plan of reorganization to keep its business alive and pay creditors over time.</p>
					</li>
					<li>
						<h5>Chapter 7</h5>
						<p>Chapter 7 of the United States Bankruptcy Code provides protection to individual or entities who legally file for bankruptcy, Under this chapter certain assets of the entity is liquidated to pay off debts.</p>
					</li>
					<li>
						<h5>Chapter 9</h5>
						<p>Chapter 9 of the United States Bankruptcy Code is a debt reorganization measure under which municipalities to get assistance for restructuring its debts.</p>
					</li>
					<li>
						<h5>Chapter 15</h5>
						<p>Chapter 15 is filing of bankruptcy proceeding outside US. generally for reorganization, usually involving a corporation. A chapter 15 debtor usually proposes a plan of reorganization to keep its business alive and pay creditors over time.</p>
					</li>
					<li>
						<h5>Chapter 13</h5>
						<p>Chapter 13 is considered ‘re-organisation bankruptcy' for individuals. The debtors negotiates with the creditors for paying the dues in instalments of four to five years thereby the debtor can retain his/her property without liquidating.</p>
					</li>
					<li>
						<h5>Clean up Call</h5>
						<p>Early redemption of the entire balance of a debt issue when a relatively small amount of the original issue remains outstanding. Normally, clean up call is exercised when the outstanding principal falls below 10% of the original.</p>
					</li>
					<li>
						<h5>Collective Action Clause</h5>
						<p>A collective action clause (CAC) allows a supermajority of bondholders to agree a debt restructuring that is legally binding on all holders of the bond, including those who vote against the restructuring</p>
					</li>
					<li>
						<h5>Consolidation Event</h5>
						<p>Consolidation events as substantive improvements in fiscal balances adjusting for the impact of cyclical effects. The determinants of the success of a fiscal adjustment. The results seem to suggest that for these countries expenditure based consolidations have tended to be more successful. By contrast, revenue-based consolidations have a tendency to be less successful.</p>
					</li>
					<li>
						<h5>Constant Maturity Swap </h5>
						<p>Constant maturity swap is a type of interest rate swap where the rate of interest of any single leg is readjusted according to fixed maturity market rate of a product with a duration extending beyond that of the swap's reset period but not with the LIBOR (London Interbank Offered Rate) or any other floating reference index rate.</p>
					</li>
					<li>
						<h5>Constant Maturity Treasury Rate </h5>
						<p>The rate used by the U.S. Treasury Department that represents a daily determination of what the yield on a U.S. Treasury bill, note, or bond would be if it were issued on that day. The Treasury Department publishes these rates on a daily and weekly basis in reports called Special Interest Rates.</p>
					</li>
					<li>
						<h5>Contingent Convertible Bonds</h5>
						<p>The contingent convertible bonds are shortly known as ""CoCo"" Bond in the financial markets. The CoCo bond can be converted into shares or stock only when the underlying price of the shares rises sharply.</p>
					</li>
					<li>
						<h5>Contingent Interest</h5>
						<p>Payment of interest is based on only if certain event occurs or certain circumstances happen.</p>
					</li>
					<li>
						<h5>Conversion Ratio</h5>
						<p>The ratio for the convertibility of a preferred share into a fixed number of common shares, or from a convertible bond into the underlying shares.</p>
					</li>
					<li>
						<h5>Coupon Default</h5>
						<p>Failure to pay the Coupon Payment for its issued debt.</p>
					</li>
					<li>
						<h5>Coupon Reset</h5>
						<p>Bond Issuer resets the coupon based on dynamic coupon, floating rate change, or any other conditions</p>
					</li>
					<li>
						<h5>Covered Bond</h5>
						<p>A bond which has other financial instruments, such as mortgage loans, pledged as security against default. </p>
					</li>
					<li>
						<h5>CPI (Consumer Price Index)</h5>
						<p>The CPI is a measure of retail inflation. It is calculated by collecting and comparing the prices of a set basket of goods and services, as bought by a typical consumer, at regular intervals over time. Also known as a Retail Price Index.</p>
					</li>
					<li>
						<h5>CR Deliverable</h5>
						<p>CR Deliverable (""CR"" Stands for Credit) is a process in which Underlying obligations identified for delivery when OTC trade is done for Credit Default Swap on an entity.</p>
					</li>
					<li>
						<h5>Credit Auction</h5>
						<p>Credit auction refers to auction for instruments of defaulted entity. The main objective of auction is to sell the defaulted bonds at higher bid.</p>
					</li>
					<li>
						<h5>Credit Deliverable</h5>
						<p>Underlying obligations identified for delivery when OTC trade is done for Credit Default Swap on an entity. Here the issuers selected list of obligations will be settled amongst the investors.</p>
					</li>
					<li>
						<h5>Credit Event</h5>
						<p>Any sudden and negative change in a borrower's credit standing or decline in credit rating. A credit event brings into question the borrower's ability to repay its debt. It is the defining trigger in a credit derivative contract, or credit default swap. If the borrower experiences a credit event, then the buyer of the contract must pay the seller an agreed-upon sum to cover the loss.</p>
					</li>
					<li>
						<h5>Cross Default</h5>
						<p>A provisions in a bond indenture or loan agreement that puts the borrower in default if the borrower defaults on another obligation. Also known as cross acceleration. This provides more security to the lender. </p>
					</li>
					<li>
						<h5>Debt ratio</h5>
						<p>It is a financial ratio that indicates the percentage of a company's assets and their debts. The measure gives an idea to the leverage of the company along with the potential risks the company faces in terms of its debt-load.</p>
					</li>
					<li>
						<h5>Debt Restructure</h5>
						<p>A rearrangement or modification made to the debt, operations or structure of a company.</p>
					</li>
					<li>
						<h5>Debt Restructuring</h5>
						<p>Debt restructuring is a process that allows an entity which is undergoing cash flow problems and distress financially. Restructuring assist the entity to improve cash flow and restore liquidity so that it can continue its operations and increase the revenue.</p>
					</li>
					<li>
						<h5>Debt Service Coverage Ratio</h5>
						<p>The debt service coverage ratio (DSCR), also known as ""debt coverage ratio,"" is the ratio of cash available for debt servicing to interest, principal and lease payments. It is a popular benchmark used in the measurement of an entity's ability to produce enough cash to cover its debt payments.</p>
					</li>
					<li>
						<h5>Debt Swap</h5>
						<p>Debt Swap is a kind swap transaction agreement between two entities under which they exchange the debts amongst them. The key objective of the debt swap is avoiding bankruptcy, reorganizing debts, or gaining a more favorable repayment schedule.</p>
					</li>
					<li>
						<h5>Default Event</h5>
						<p>Event of default refers to the occurrence of an event which allows the lender to demand repayment of the loan in advance of its normal due date There are two types of event of default: actual default, i.e. the failure to pay principal or interest when it falls due for payment; and prospective default, when payment is not yet due, but it is clear that it will not be capable of being paid when it does fall due.</p>
					</li>
					<li>
						<h5>Defeasance</h5>
						<p>A provision that voids a bond when the borrower sets aside cash or bonds sufficient enough to service the borrower's debt.</p>
					</li>
					<li>
						<h5>Defeasance Clause</h5>
						<p>A mortgage provision indicating that the borrower will be given the title to the property once all mortgage terms are met. The defeasance clause is not required in states using property liens as collateral for a mortgage. In this sense, the clause is a substitute for collateral.</p>
					</li>
					<li>
						<h5>Deferred Interest</h5>
						<p>It is the amount of interest that is added to the principal balance of a loan when the contractual terms of that loan allow for scheduled payment to be made that is less than the interest due. When a loan's principal balance increases because of deferred interest, it is known as negative amortization.</p>
					</li>
					<li>
						<h5>Dividend Pusher</h5>
						<p>A dividend pusher is a term whereby the coupon is mandatory if remuneration is given to another specified security or class of securities within a specified period of time.</p>
					</li>
					<li>
						<h5>Dividend Stopper</h5>
						<p>Dividend stopper is a term which states that the issuer will not, with a specified period of time, pay a coupon on another security or class of securities if it does not pay a dividend on the security in question</p>
					</li>
					<li>
						<h5>Dutch Auction</h5>
						<p>Its a kind of auction where an auctioneer starts asking bid at higher price and gradually the bid is lowered until some participants is willing to accept the price asked by the auctioneer.</p>
					</li>
					<li>
						<h5>Early Closure</h5>
						<p>Closure is the term used to refer to the actions necessary when it is no longer necessary or possible for a business or other organization to continue to operate. Closure may be the result of a bankruptcy, where the organization lacks sufficient funds to continue operations, as a result of the proprietor of the business dying, as a result of a business being purchased by another organization (or a competitor) and shut down as superfluous, or because it is the non-surviving entity in a corporate merger. A closure may occur because the purpose for which the organization was created is no longer necessary</p>
					</li>
					<li>
						<h5>Equity Offering Clawback</h5>
						<p>Many high yield bonds include a provision permitting the company to partially redeem the bonds with the net proceeds of any equity offering that is completed by the company within a specified period of time (usually three years) after the bonds have been issued. This provision, commonly referred to as an “equity offering clawback”.</p>
					</li>
					<li>
						<h5>Equity Swap</h5>
						<p>Equity Swap is a kind swap transaction agreement between two entities under which they exchange the shares amongst them. The key objective of the Equity swap is avoiding bankruptcy, reorganizing debts, or gaining a more favorable repayment schedule.</p>
					</li>
					<li>
						<h5>Exotic Currency</h5>
						<p>A foreign exchange term for a thinly traded currency. Exotic currencies are illiquid, lack market depth and trade at low volumes. Trading an exotic currency can be expensive, as the bid-ask spread is usually large.</p>
					</li>
					<li>
						<h5>Force Majeure</h5>
						<p>A clause written into contracts to allow contracting parties to be freed from their obligations in the event of an occurrence that is outside their control, such as an earthquake, hurricane or a serious labour dispute. In no event shall the Trustee be responsible or liable for any failure or delay in the performance of its obligations under this Indenture arising out of or caused by, directly or indirectly, forces beyond its reasonable control, including without limitation strikes, work stoppages, accidents, acts of war or terrorism, civil or military disturbances, nuclear or natural catastrophes or acts of God, and interruptions, loss or malfunctions of utilities, communications or computer (software or hardware) services.</p>
					</li>
					<li>
						<h5>Foreign Institutional Investor (FII)</h5>
						<p>Foreign Institutional Investor (FII) is used to denote an investor - mostly of the form of an institution or entity, which invests money in the financial markets of a country different from the one where in the institution or entity was originally incorporated.</p>
					</li>
					<li>
						<h5>Free Cash Flow To Debt Service Ratio</h5>
						<p>The ratio of a company's annual earnings before interest and taxes to its annual debt service and other liabilities. These liabilities may include preferred dividends and rent. Banks use the cash flow coverage ratio to help determine whether to make or refinance loans. A cash flow coverage ratio equal to or greater than one indicates that the debtor is able to service the debt on its profit.</p>
					</li>
					<li>
						<h5>Gilt-Edged</h5>
						<p>A term used to describe securities that carry little risk. Government bonds in both the UK and South Africa are known as gilts. The name comes from original UK government bond certificates which had gilded edges. </p>
					</li>
					<li>
						<h5>Greenshoe Option</h5>
						<p>A provision contained in an underwriting agreement that gives the underwriter the right to sell investors more shares than originally planned by the issuer. A greenshoe option can provide additional price stability to a security issue because the underwriter has the ability to increase supply and smooth out price fluctuations if demand surges. </p>
					</li>
					<li>
						<h5>Gross Up Event</h5>
						<p>The term Gross-Up usually applies to Fully Serviced Leases (sometimes also called ""full service leases). In fully serviced leases the tenant pays fixed amounts for certain services on top of a rent for the actual space leased. For example, the landlord pays for common area maintenance (CAM) expenses. The landlord then divides this fee by the number of gross square feet in a building and charges each tenant an amount based on the percent of square feet the tenant occupies.</p>
					</li>
					<li>
						<h5>Hedge Fund</h5>
						<p>A private investment fund which typically aims to produce high returns from rapid, short-term market movements, often by taking very leveraged positions and using aggressive strategies such as short selling, swaps, derivatives, program trading and arbitrage.</p>
					</li>
					<li>
						<h5>Hedging Disruption</h5>
						<p>A Hedging Disruption Event shall occur if the Issuer determines that it is or has become not reasonably practicable or it has otherwise become undesirable, for any reason, for the Issuer wholly or partially to establish, re-establish, substitute or maintain a relevant hedging transaction (a “Relevant Hedging Transaction”) it deems necessary or desirable to hedge the Issuer's obligations in respect of the Securities</p>
					</li>
					<li>
						<h5>IAI ISINs</h5>
						<p>The term IAI means “Institutional Accredited Investor”. This IAI ISIN is allocated for the private placement offers and registered under Regulation D rule of Securities and Exchange Commission.</p>
					</li>
					<li>
						<h5>Incorporation Change</h5>
						<p>The entity changes the place of incorporation.</p>
					</li>
					<li>
						<h5>Increased Cost of Hedging</h5>
						<p>Method of reducing the risk of loss caused by price fluctuation. hedging is a transfer of risk without buying insurance policies.</p>
					</li>
					<li>
						<h5>Index Adjustment Event</h5>
						<p>An Event Trigger when modification made to a index or a set of numerical data, by a product of some type of a mathematical formula, an adjustment index is commonly used to adopt adjustable rate mortgages to changes in the economy by combining a number of market interest rates to form a benchmark.</p>
					</li>
					<li>
						<h5>Insolvency</h5>
						<p>Insolvency means the inability to pay one's debts as they fall due. Usually used to refer to a business, insolvency refers to the inability of a company to pay off its debts. Business insolvency is defined in two different ways:
							1. Cash flow insolvency: Unable to pay debts as they fall due.
							2. Balance sheet insolvency: Having negative net assets – in other words, liabilities exceed assets.</p>
					</li>
					<li>
						<h5>Interest Rate Swap</h5>
						<p>An interest rate swap is a derivative in which one party exchanges a stream of interest payments for another party's stream of cash flows. Interest rate swaps can be used by hedgers to manage their fixed or floating assets and liabilities.</p>
					</li>
					<li>
						<h5>Junk Bonds</h5>
						<p>High-risk high-yield bonds, which are rated below investment grade by credit agencies. These bonds are also known as speculative grade bonds. </p>
					</li>
					<li>
						<h5>Knock-Out Event</h5>
						<p>An option contract that automatically expires, even before the expiration date, if the asset reaches a certain price that would be disadvantageous to the option writer. If this price (called the knock-out) is reached, the option becomes worthless. Most of the time, the knock-out results in the holder losing the premium, though some knock-out options, known as rebate barrier options, refund part of it.</p>
					</li>
					<li>
						<h5>Lease Restructure</h5>
						<p>Lease Restructure is a kind of revision or renewal of existing contract between Lessee and Lessor. A Lessee, for example, may wish to surrender the lease before the expiration date or a Lessor may want to reclaim part or all of a property for refurbishment or redevelopment. Restructuring Lease can often be beneficial to both Lessor and Lessee through the release of latent value or in exchange for compensation. Lease restructuring therefore offers significant business opportunities.</p>
					</li>
					<li>
						<h5>Limit of Indebtedness</h5>
						<p>The limits of indebtedness prescribed under the provisions of chapter 10 of the Kansas Statutes Annotated may be exceeded when: (1) Payment has been authorized by a vote of the electors of the municipality; (2) provision has been made for payment by the issuance of bonds or temporary notes as provided by law; (3) provision has been made for payment by the issuance of no-fund warrants authorized by law and in the manner, and limited in amount as prescribed by law.</p>
					</li>
					<li>
						<h5>Limitation on Sale-and-Leaseback</h5>
						<p>A provision in some bond indentures prohibiting or curtailing the issuer's ability to enter sale-and-leaseback agreements. A sale-and-leaseback agreement is an arrangement whereby a company sells a fixed asset to a bank or other institution and then rents it back and maintains usufruct of the asset. This increases the debt-to-asset ratio, which is usually seen as negative. It may be used when a company cannot otherwise obtain financing; in either case it can increase the risk to the bond, and so some bond indentures limit the use of sale and leasebacks.</p>
					</li>
					<li>
						<h5>Limitation on Subsidiary Debt</h5>
						<p>The limitation on subsidiary debt is relevant in the absence of upstream guarantees and is an important constraint on consolidated leverage and subordination. In Moody’s view, there should be no borrowing at the subsidiary level unless it is permitted ratio debt.</p>
					</li>
					<li>
						<h5>Liquidation Event</h5>
						<p>It is a term used in corporate finance to describe many different events. The two primary events that fall under the liquidity event are the purchase of a corporation and an initial public offering. A liquidation event is most common with a startup company because a startup company is one that requires little money to get started, but is of high risk and can result in a higher return on investment. A liquidity event is not the same as the liquidation of a company. When a company is liquidated, the business is discontinued and does not change ownership. With a liquidity event, the business is continued, but under new ownership.</p>
					</li>
					<li>
						<h5>Liquidity Ratio</h5>
						<p>A class of financial metrics that is used to determine a company's ability to pay off its short-terms debts obligations. Generally, higher the value of ratio, the larger the margin of safety that the company possesses to cover short-term debts. </p>
					</li>
					<li>
						<h5>Loan Exchange</h5>
						<p>Loan Exchange is exchanging the existing loan type for another type of loan. e.g. - Entity exchanges its revolving credit facility to a term loan.</p>
					</li>
					<li>
						<h5>Make-Whole Call</h5>
						<p>A make-whole call is a type of call provisions in a bond allowing the Issuer to pay off remaining debt before the maturity of a bond. The Issuer makes a repayment along with premium.</p>
					</li>
					<li>
						<h5>Mandatory Early Redemption</h5>
						<p>Specified dates when a bond issuer is required to redeem all or a portion of the outstanding issues of a bond prior to its maturity. The issuer might be required to redeem all or a portion of the bonds according to the call or prepayment provisions of the of the bond contract. Some types of mandatory redemptions occur either on a scheduled basis, or when a specified amount of money is available in the sinking fund. Bonds may be redeemed at a specified price, usually at par, and the bondholder will receive any accrued interest to the redemption date.</p>
					</li>
					<li>
						<h5>Market Disruption Event</h5>
						<p>Market Disruption Event to be invoked if issuer generally are experiencing exceptional difficulty in raising funds in the interbank market or are paying materially more for interbank deposits than the displayed screen rates for LIBOR or EURIBOR. In these circumstances the clause enables banks to increase the rates charged to borrowers so that they reflect the actual cost of funds to banks.</p>
					</li>
					<li>
						<h5>Material Adverse Change Clause</h5>
						<p>MAC clauses are a common means of allocating the risks presented by adverse business or economic developments occurring between the signing and the closing of an acquisition agreement. A MAC clause aims to give the buyer the right to terminate the agreement before completion, or to provide a basis for renegotiating the transaction, if events occur that are seriously detrimental to the target assets/company.</p>
					</li>
					<li>
						<h5>Mezzanine Debt</h5>
						<p>Debt that incorporates equity-based options, such as warrants, with a lower-priority debt. Mezzanine debt is often used to finance acquisitions and buyouts, where it can be used to prioritize new owners ahead of existing owners in the event that a bankruptcy occurs. </p>
					</li>
					<li>
						<h5>Negative Pledge</h5>
						<p>A indenture clause that prohibits the bond issuer from pledging its assets to a third party (thus reducing the level of security for the bondholders) is an example of a negative pledge bond.</p>
					</li>
					<li>
						<h5>OATs</h5>
						<p>Acronym for Obligations Assimilables du Tresor. They are fungible, tradable French government bonds with maturities of up to 50 years at a fixed or floating interest.</p>
					</li>
					<li>
						<h5>Option Agreement</h5>
						<p>Option Agreement is bilateral agreement between the entities under which the entity will undergo Acquisition & Merger on the basis of Call or Put Option.</p>
					</li>
					<li>
						<h5>Optional deferral</h5>
						<p>Optional deferral gives the issuer the option, but not the liability, of deferring coupon payment when certain criteria have been met. These criteria can be wide-ranging depending on the wording of the hybrid bonds, but typically they refer to financial ratios which reveal the issuer’s financial situation. Optional unlimited deferral gives the issuer a free hand to decide when to defer coupon payments.</p>
					</li>
					<li>
						<h5>OTC</h5>
						<p>Abbreviation for Over The Counter. A market conducted directly between dealers and principals via a telephone and computer network rather than via an exchange. Unlike an exchange there is no automatic disclosure of the price of deals to other market participants and deals and traded instruments are not standardized.</p>
					</li>
					<li>
						<h5>Participation Rate</h5>
						<p>A measure of the participating portion of an economy's labor force. The participation rate is important in determining the number of individuals who are willing to work, are working, or are actively looking for work. Those who have no interest in working are not included in the participation rate.</p>
					</li>
					<li>
						<h5>Payment Disruption Event</h5>
						<p>Disruption Event means any of the following events as determined in good faith by the Calculation Agent.</p>
					</li>
					<li>
						<h5>Poison Put Option</h5>
						<p>A provision in a bond or note that gives bondholders the option of redeeming the bond or note at its par value if certain events occur. Those events may include a restructuring that reduces the credit quality of the issue, a hostile takeover, or the payment of a large dividend.</p>
					</li>
					<li>
						<h5>Premium</h5>
						<p>1) The amount for which a security is selling or is redeemed above its par value.
							2) Fee paid to an insurance company for coverage.
							3) Price paid by an option buyer for a put or call.
							4) For a convertible security it is the price between market price and conversion value.
							5) For futures it is the price between the price of the future and the underlying commodity.
							6) Amount by which the price of a stock exceeds comparable stocks.</p>
					</li>
					<li>
						<h5>Private Placement</h5>
						<p>The capital is raised via private rather than public. Whereas the securities are sold to an institutional investors, such as bank, mutual fund, insurance company, pension fund, or foundation. These private placements are not registered with Securities and Exchange Commission. The private institutions which invest are also known as Institutional Investors.</p>
					</li>
					<li>
						<h5>Ratings Trigger</h5>
						<p>A provision in a loan agreement or bond indenture allowing one party or the other to take a certain action if the borrower's credit rating changes for any reason. For example, if a bond issuer's credit rating falls, a rating trigger may release bondholders from certain obligations specified in the indenture.</p>
					</li>
					<li>
						<h5>Redemption Change In Law</h5>
						<p>A provision which gives to the holders to terminate the agreement in the event of any changes in law of the country where the issuer is incorporated which will affects the debt.</p>
					</li>
					<li>
						<h5>Redemption Tax Event</h5>
						<p>A provision which gives to the party to an agreement the right to terminate the agreement in the event of any changes in tax law that will affects the debt.</p>
					</li>
					<li>
						<h5>Refinance</h5>
						<p>Refinance means borrower paying off the existing loan by signing a new loan agreement with the same Lender.</p>
					</li>
					<li>
						<h5>Reorganisation</h5>
						<p>Reorganisation is process which allow a Structural changes in the company to prevent bankruptcy and reduce business risk.</p>
					</li>
					<li>
						<h5>Restrictive Covenant</h5>
						<p>A clause in a contract that requires one party to do, or refrain from doing, certain things. Often, a restriction on a borrower imposed by a lender.</p>
					</li>
					<li>
						<h5>Reverse Convertible Bond</h5>
						<p>A bond that can be converted to cash, debt or equity at the discretion of the issuer at a set date. The bond contains an embedded derivative that allows the issuer to put the bond to bondholders at a set date prior to the bond's maturity for existing debt or shares of an underlying company.</p>
					</li>
					<li>
						<h5>Reverse Merger</h5>
						<p>A reverse merger means private company acquires public company. The transaction typically requires reorganization of capitalization of the acquiring company.</p>
					</li>
					<li>
						<h5>Sale and leaseback</h5>
						<p>A sale and leaseback is a process which allows any entity to raise money from the sale of assets, while retaining use of them by paying lease rental.</p>
					</li>
					<li>
						<h5>Sinking Fund</h5>
						<p>A fund to which money is added on a regular basis that is used to ensure investor confidence that promised payments will be made and that is used to redeem debt securities or preferred stock issues.</p>
					</li>
					<li>
						<h5>Spin Off</h5>
						<p>Companies sometime separate out one area of their operations and assets into a new company. The proportionately distribute shares in the new company to their own shareholders. </p>
					</li>
					<li>
						<h5>Step-up bond</h5>
						<p>A bond that pays an initial coupon rate for the first period, and then a higher coupon rate for the following periods. </p>
					</li>
					<li>
						<h5>Sub Lease</h5>
						<p>A sublease is a contract used by a tenant or lessee to lease a portion of its leased property to another entities.</p>
					</li>
					<li>
						<h5>Sukuk</h5>
						<p>Sukuk is a Arabic terminology used to represent the financial instruments, Commonly known as Islamic Bonds. According the investment principles under Islamic law the Islamic the bonds comply with structured strategies and fixed income or plain bonds are not permissible.</p>
					</li>
					<li>
						<h5>Suspension Event</h5>
						<p>Any event that places the Customer in breach of their obligations under this Agreement legal Suspension of a debt agreement by a creditor.</p>
					</li>
					<li>
						<h5>Swap Amend</h5>
						<p>Any revision or amendments made to the swap agreement is known as Swap Amend.</p>
					</li>
					<li>
						<h5>Swap Spread</h5>
						<p>The difference between the swap rate and the lending rate offered through other investment vehicles with comparable characteristics.</p>
					</li>
					<li>
						<h5>Swap Transaction</h5>
						<p>A kind of financial transaction which has many variations, usually highly complex. They generally involve a simultaneous exchange of assets (the swap) by counterparties for other different assets of comparable value. The assets may be commodities or they may be financial instruments involving interest rates, cash flows, foreign exchange, debts or equities. In addition to financial profits, the swaps have many purposes such as limiting risks, overcoming restrictions in certain markets, or balancing portfolios.</p>
					</li>
					<li>
						<h5>Tax Event</h5>
						<p>A provision that gets triggered when a change of tax event occurs.</p>
					</li>
					<li>
						<h5>Tender Offer</h5>
						<p>An offer to purchase some or all of shareholders' shares in a corporation. The price offered is usually at a premium to the market price.
							Tender offers may be friendly or unfriendly. Securities and Exchange Commission laws require any corporation or individual acquiring 5% of a company to disclose information to the SEC, the target company and the exchange.</p>
					</li>
					<li>
						<h5>Trading Disruption</h5>
						<p>A situation where markets cease to function in a regular manner, typically characterized by rapid and large market declines.</p>
					</li>
					<li>
						<h5>Uncovered Call</h5>
						<p>A short call option position in which the writer does not own the corresponding number of shares of the underlie or has not deposited in a cash account an amount equal to the exercise value of the call.</p>
					</li>
					<li>
						<h5>Unwind Event</h5>
						<p>It means to rectify or close a transaction in which a mistake has been made. For example, because of a misunderstanding, a brokerage firm may have bought the wrong stock for a customer. The firm must then unwind the erroneous trade by selling the stock just purchased and buying the correct stock.</p>
					</li>
					<li>
						<h5>Write-down / reinstatement</h5>
						<p>The act of restoring someone to a previous position, to bring back into use or existence.</p>
					</li>
					<li>
						<h5>Yield Curve</h5>
						<p>It is the relation between the interest rate (or cost of borrowing) and the time to maturity of the debt for a given borrower in a given currency. There are three main types of curves normal, inverted, and flat.</p>
					</li>
					<li>
						<h5>Yield to Maturity</h5>
						<p>The rate of return anticipated on a bond if it is held until the maturity date. Yield to Maturity is considered a long-term bond yield expressed as an annual rate. The calculation of Yield to Maturity takes into account the current market price, par value, coupon interest rate and time to maturity.</p>
					</li>
					<li>
						<h5>PIK</h5>
						<p>PIK(Pay-In-Kind): Making interest payments in kind,Issuer will pay the interest in form of shares, bonds or debentures</p>
					</li>
					<li>
						<h5>Debtor-In-Possession Financing(DIP Financing)</h5>
						<p>Debtor-In-Possession Financing(DIP Financing)Financing arranged by a company while under the Chapter 11 bankruptcy process. DIP financing is unique from other financing methods in that it usually has priority over existing debt, equity and other claims.</p>
					</li>
					<li>
						<h5>Standstill Agreement</h5>
						<p>A contract that stalls or stops the process of a hostile takeover. The target firm either offers to repurchase the shares held by the hostile bidder, usually at a large premium, or asks the bidder to limit its holdings. This act will stop the current attack and give the company time to take preventative measures against future takeovers.</p>
					</li>
					<li>
						<h5>Recovery Notes</h5>
						<p>“Recovery Notes” means the notes issued by the Bank. The Recovery Notes will be paid out of the Collection Account, which is funded by cash generated by the Asset Pool. The Recovery Notes are limited recourse obligations of the Bank, and the level of collateral of theRecovery Notes will correspond to the amount of Recoveries.</p>
					</li>
				</ul>
			</div><!--glossary-->
		</div><!--row-->
	</div>
</div>
<footer class="footer">
	<div class="container">
		<p class="pull-right"><a href="#">Back to top</a></p>

		<p>This site powered by <a href="http://mazira.com" target="_blank">Mazira's</a> search & timeline technology.</p>

		<p>This site best viewed in the latest version of <a href="https://www.google.com/chrome" target="_blank">Google
			Chrome</a> or <a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>.

		<p>© FactEntry 2018</p>
	</div>
</footer>
<div id="reset" class="modal fade hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Password Assistance</h3>
	</div>
	<div class="modal-body">
		<p>If you have forgotten your password, we can email you a secret reset link.</p>
		<label>Email
			<br />
			<input type="text" class="email"/>
		</label>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<button class="btn btn-primary" data-loading-text="sending..." data-complete-text="finished!" data-notfound-text="user not found" data-error-text="unknown error">Initiate reset</button>
	</div>
</div>
<!--[if lt IE 7]>
<script type="text/javascript">
	var $buoop = {}
	$buoop.ol = window.onload;
	window.onload=function(){
		try {if ($buoop.ol) $buoop.ol();}catch (e) {}
		var e = document.createElement("script");
		e.setAttribute("type", "text/javascript");
		e.setAttribute("src", "http://browser-update.org/update.js");
		document.body.appendChild(e);
	}
</script>
<![endif]-->
</body>
</html>
